{% extends 'layout/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'banquemanager/css/banques/enter_pin.css' %}">
{% endblock %}

{% block content %}
    <div id="container">
        <h1>Enter PIN</h1>
        <form action="{% url 'banques:consulter_compte' compte_id=compte_id %}" method="post">
            {% csrf_token %}
            <label for="pin">PIN</label>
            <input type="password" name="pin" id="pin" required>
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Submit">
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>

{% endblock %}